
<div class="jumbotron">
  <h1>Welcome to hungers.me</h1>
  <p>An easier way to find the food you like</p><br><br><br><br>
  
  <p><%= link_to "see today's menu", root_path, class: "btn btn-primary"%></p>
</div>

  

<p>Find the meal you like and place the order online!</p>
<p>Bookmark your favorate restaurants!</p>  
<p>Your restaurants change the menu everyday at 9:00 PM(PST)</p>  

