<div class="section-head">
    <div class="container">
        <h2 class = "title">About Hungers.me</h2>
    </div>
</div>


<div class="section-body">
    <div class="container">
        <p class="text", style="text-align: left" >Simplity is our philosophy. In short, Hungers.me helps you choose your favorite daily meal in a super simple way which you will enjoy.<br>
        </p>
    </div>
</div>

<div class="section-head">
    <div class="container">
        <h2 class = "title">HOW IT WORKS<br /><i>as easy as 123</i></h2>
    </div>
</div>


<div class="section-body">
	<div class="container">
        <h2 class="sub-title">STEP 1: FIND</h2>
    	<p class="text">Our registered restaurants update their menu on the daily basis. <br />Only 1 dish will be updated from each restaurant. It is surely the signature, rather than a long confusing list.<br />Save your time to think about choosing which one. </p>
    </div>
</div>

<div class="section-body">
	<div class="container">
        <h2 class="sub-title">STEP 2: ORDER</h2>
        <p class="text">Place your order online with your credit card. <br />Also, choose your pickup time. </p>        			
    </div>
</div>

<div class="section-body">
    <div class="container">
	   <h2 class="sub-title">STEP 3: PICKUP</h2>
	   <p class="text">Pick up your food at your scheduled time. <br>Present the confirmation email via your smart phone or the printed-out. <br>Enjoy your meal!</p>
    </div>
</div>

<div class="section-head">
    <div class="container">
        <h2 class = "title">TIPS<br /><i>Even more efficient...</i></h2>
    </div>
</div>

<div class="section-body">
	<div class="container">
        <p class="text">Check the menu update at 9PM Pacific time everyday. </p>
    	<p class="text">You can bookmark your favorite restaurants, and you can quickly find their daily menu under the "Manage" link (the upper right corner after signing in). </p>
        <p class="text">And more...</p>
    </div>
</div>
