<div class="section-head">
    <div class="container">
        <h2 class = "title">About Hungers.me</h2>
    </div>
</div>


<div class="section-body">
    <div class="container">
        <p class="text", style="text-align: left" >Hungers.me helps you find your favorite daily meal in a super simple way. We are confident the quesion of what-to-eat-today will no longer be bothering you anymore.<br>
        </p>
    </div>
</div>

<div class="section-head">
    <div class="container">
        <h2 class = "title">HOW IT WORKS<br /><i>as easy as 123</i></h2>
    </div>
</div>


<div class="section-body">
	<div class="container">
        <h2 class="sub-title">STEP 1: EXPLORE THE MENU</h2>
    	<p class="text">Our registered restaurants update their menu on the daily basis. <br />Only 1 food is allowed to be listed from each restaurant. It is of course their most popular signature food, not a long confusing list.</p>
    </div>
</div>

<div class="section-body">
	<div class="container">
        <h2 class="sub-title">STEP 2: ORDER ONLINE</h2>
        <p class="text">Place your order online with your credit card. <br />Also, choose your pickup time. </p>        			
    </div>
</div>

<div class="section-body">
    <div class="container">
	   <h2 class="sub-title">STEP 3: PICK UP</h2>
	   <p class="text">Pick up your food at your scheduled time. <br>Present the confirmation email via your smart phone or the printed-out. <br>Enjoy!</p>
    </div>
</div>

<div class="section-head">
    <div class="container">
        <h2 class = "title">TIPS<br /><i>Even more efficient...</i></h2>
    </div>
</div>

<div class="section-body">
	<div class="container">
        <p class="text">Check the menu update at 9PM Pacific time everyday. </p>
    	<p class="text">You can bookmark your favorite restaurants, and you can quickly find their daily menu under the "Manage" link (the upper right corner after signing in). </p>
        <p class="text">And many more...</p>
    </div>
</div>
