<address>
	Please let us know what you are thinking about hungers.me<br>
	And tell your favorate restautrants to join hungers.me<br>
</address>

<address>
	<strong>Email</strong></br> 
	<a href="mailto:#">hungers.me@gmail.com</a>
</address>