<address>
	Feel free to let us know what you are thinking about Hungers.me<br>
	Tell your favorate restautrants to join Hungers.me<br>
	Share your story how Hungers.me makes your life simpler<br>
</address>

<address>
	<strong>Email</strong></br> 
	<a href="mailto:hungers.me@gmail.com">hungers.me@gmail.com</a>
</address>
<br>
</p>2015 © FYSONG LLC. All rights reserved.</p>