<div class="center">
  <h2>transfer schedule</h2><br>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">Seller</th>
    <th class="text-center">Amount</th>
  </tr>

  <% @sellers.each do |seller| %>
    <tr>
      <td class="center"><%= seller.name %></td>
      <td class="center"><%= number_to_currency(seller.pending_transfer / 100.0) %></td>
    </tr>
  <% end %>
</table>