@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


.jumbotron{
  background-image: url('https://s3-us-west-1.amazonaws.com/hungersme/186167168015811.jpg?X-Amz-Date=20150612T080412Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=6a1e1e0009b3742b91f17a03c738176d29adea57a822508a0d5be81533cd03be&X-Amz-Credential=ASIAJKRNQUWD7OOOXGQA/20150612/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJz//////////wEagAK6aKQZsjA09l1RJOgT/zUiLBZVlb/LmONMs6ZORj%2BAox78AQNLTD9V9rWIKgKMqO8Ap/RSSL8Hokxbb%2BXmAWSWwVaCywq%2Bi7RMU5bJWb1Usk1C684V0L0EJlxPqSB2eEXFOSsMegVY0R1XI4PquB2D90gLdt4wx4cmtDzHpjAPcyJjAGyxbjslJbZnGysgPxJVaNRKkUZANIhw/SYhsdt7InfvhIDqn/sRwsb8qIjxOMOytAaCRDqZWLx5SLyACL8pEmodZqvDBoDF3x0XL1virmIek%2B47hYt9Gvi8HAZ7ChWfFyuqScrY4y9V6CxV/hgs4Iw%2BNi%2BQEoDTtKoLMgVFIIiJ6asF');
  height: 400px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: center;
  margin-top: -9px;
  p { 
  color: white;
  font: helvetica;
  }
}


.col-md-3:nth-child(4n+1){
	clear: left;
}

.col-md-6{
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 13px;}
}

.caption{
	h3{
		font-size: 17px;
		margin: 2px;
	}
	p{
		font-size: 15px;
		margin:0px;
	}
}

.navbar-default{
	backgroud-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.sub-head {
	font-family: guardian-egyptt, georgia, serif;
	font-size: 32px;
	font-weight: 500;
	text-aligh: center;
	word-spacing: 0px;
	background-color: #FFFFFF;
	color: #22d2e2;
	height: 36px;
	width: 980px;
	display: block;
}

.order_form {
	h4 {
		font-size: 14px;
		color: #d5641c;
	}
}